@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.Form-container {
    width: 500px;
    border: 1px solid #6246a2;
    height: 500px;
    border-radius: 30px;
    background-color: #ffe6e6;

    align-items: center;
    margin-top: 40px;
    margin-left: 400px;
    grid-area: logindiv;

    box-shadow: 10px 10px #d6c5ff;

}

.Login {
    color: #432C7A;
    font-size: 25px;
    text-align: center;
    align-items: center;
}

.login-text {
    font-size: 18px;
    color: #FF7272;
    text-align: center;
}

.inputtext1 {
    font-size: 15px;
    border: 2px solid #FF7272;
    background-color: #FFF5E4;
    color: #FF7272;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;

}

.inputtext2 {
    font-size: 15px;
    border: 2px solid #FF7272;
    background-color: #FFF5E4;
    color: #FF7272;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;

}

input::placeholder {
    color: #FF7272;
    opacity: 0.5;
    text-align: left;
    padding: 2rem 1.5rem;
}

.or {
    color: #FF7272;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.button {
    color: #432C7A;
    width: 400px;
    height: 35px;
    align-items: center;
    margin-left: 50px;
    background-color: #d6c5ff;
    border: 2px solid #432C7A;
    border-radius: 20px;
    font-size: 15px;

}

.paragraphli {
    color: #FF7272;
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin-top: 50px;

}

.loginpage {
    display: grid;
    grid-template-areas: image1 logindiv image2;
}

.loginimage1 {
    width: 32%;
    grid-area: image2;
    margin-left: 900px;
    margin-top: 40px;
}
