.Edu-container {
    margin-top: 1rem;
    border: 2px solid #ff7474;
    border-radius: 3vw;
    padding: 1vw;
    display: flex;
    flex-direction: row;
}

.Edu-Title {
    /* border: 2px solid #ff7474; */
    background-color: #ff7474;
    border-radius: 3vw;
    padding: 1vw;
    width: fit-content;
    /* align-items: center; */
    /* justify-self: center; */
    margin-left: auto;
    margin-right: auto;
}
